{% if conversation %}
    <div class="card-header messenger-card">
        <div class="row p-3">
            <div class="col-6">
                <small class="fs-4 fw-light">
                    {% if conversation.name %}
                        {{ conversation.name }}
                    {% else %}
                        {% for member in conversation.conversationMembers %}
                            {% set memberId = member.id %}
                            {% if memberId != currentUserId %}
                                {{ memberId|userName }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </small class="fs-3">
            </div>
            <div class="col-6">
                {% block conversation_settings %}
                    
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="card-body messenger-card list-group-msg-scroll">
        <div id="messages">
            {% include 'chat/chat_components/_message.html.twig' %}
        </div>
    </div>
        <turbo-frame id="message_form">
            <div class="card-footer messenger-card">
                {% if friendIsDeleted(conversation) %}
                    User does not exist
                {% else %}
                    {% include 'chat/chat_components/_messageForm.html.twig' %}
                {% endif %}
            </div>
        </turbo-frame>
{% else %}
    <div class="d-flex align-items-center justify-content-center h-100">
        <form action="{{ path(getRouteName('APP_START_PRIVATE_CONVERSATION')) }}" method="post">
            <button name="friendId" value=
                "
                {% if friends is defined %}
                    {{ friends[0].id }}
                {% else %}
                    {{ friendId }}
                {% endif %}
                "
            type="submit" class="btn btn-lg btn-dark btn-start-conversation">Start Conversation</button>
        </form>
    </div>
{% endif %}
