<div class="modal fade rounded-5" id="conversationNewMembersFormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-dialog-centered">
        <div class="modal-content">
        {{ form_start(addUsersForm, {'attr': {
            'action':  path('app_chat_group_add_members'),
            'methods': 'POST'
        }}) }}
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add new conversation member</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_widget(addUsersForm.users, {'attr': {'data-action': 'conversation#mercureEventSource'}}) }}
                {{ form_widget(addUsersForm.conversationId) }}
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        {{ form_widget(addUsersForm.addUsers, {
                            'attr': {
                            'class': 'btn btn-primary w-100'
                        }}) }}
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
                {{ form_widget(addUsersForm.mercureScriptTagId, {'id': 'mercureScriptTagId'}) }}
            </div>
        {{ form_end(addUsersForm) }}
        </div>
    </div>
</div>



