<a type="button" id="conversation-{{ data.conversationId }}" href="{{ path('app_chat_group', {conversationId: data.conversationId}) }}"
    class="list-group-item text-start w-100 rounded btn-friend-msg-list ps-3 py-2"
    value="{{ data.conversationId }}">
    <div class="d-flex w-100">
        <h5 class="mb-1">{{ data.conversationName[:20] }}</h5>
    </div>
    <p class="mb-1" id="conversation-{{ data.conversationId }}-last-message">
        {{ data.senderId | UserName }}:
        {{ data.message[:20] }}{% if data.message | length > 20 %}(...){% endif %}
    </p>
</a>
