{{ form_start(createGroupForm, {'attr' : { 'class': 'messenger-window', 'action': path(GetRouteName('APP_CHAT_GROUP_CREATE')) } }) }}
    <div class="card h-100 bg-light border-0">
        <div class="card-header messenger-card p-3">
            {{ form_widget(createGroupForm.friends, {'attr': {'data-action': 'conversation#mercureEventSource'}}) }}
            {{ form_widget(createGroupForm.conversationName) }}
            {{ form_widget(createGroupForm.senderId, {'attr': {'value': currentUserId}}) }}
        </div>
        <div class="card-body messenger-card list-group-msg-scroll">
        </div>
        <div class="card-footer messenger-card">
            <div class="input-group mb-3 mt-2">
                {{ form_widget(createGroupForm.message) }}
                <label class="btn btn-lg btn-light px-4 border-top border-bottom" for="create_group_conversation_attachment">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="my-3 bi bi-folder2-open" viewBox="0 0 16 16">
                        <path d="M1 3.5A1.5 1.5 0 0 1 2.5 2h2.764c.958 0 1.76.56 2.311 1.184C7.985 3.648 8.48 4 9 4h4.5A1.5 1.5 0 0 1 15 5.5v.64c.57.265.94.876.856 1.546l-.64 5.124A2.5 2.5 0 0 1 12.733 15H3.266a2.5 2.5 0 0 1-2.481-2.19l-.64-5.124A1.5 1.5 0 0 1 1 6.14zM2 6h12v-.5a.5.5 0 0 0-.5-.5H9c-.964 0-1.71-.629-2.174-1.154C6.374 3.334 5.82 3 5.264 3H2.5a.5.5 0 0 0-.5.5zm-.367 1a.5.5 0 0 0-.496.562l.64 5.124A1.5 1.5 0 0 0 3.266 14h9.468a1.5 1.5 0 0 0 1.489-1.314l.64-5.124A.5.5 0 0 0 14.367 7H1.633z"/>
                    </svg>
                </label>
                {{ form_widget(createGroupForm.attachment) }}
                <button class="btn btn-primary px-4" type="submit" id="send-msg-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                        <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                    </svg>
                </button>
                {{ form_widget(createGroupForm.mercureScriptTagId, {'id': 'mercureScriptTagId'}) }}
            </div>
        </div>
    </div>
{{ form_end(createGroupForm) }}