{% if conversations %}
    {% for conversation in conversations %}
        <a type="button" id="conversation-{{ conversation.id }}" href="{{ path(GetRouteName('APP_CHAT_GROUP'), {conversationId: conversation.id}) }}"
            class="list-group-item text-start w-100 rounded rounded-3 ps-3 py-2
                {% if activeConversationId is defined and conversation.id == activeConversationId %}
                    current-conversation-border
                {% else %}
                    btn-friend-msg-list
                {% endif %}"
            value="{{ conversation.id }}">
            <div class="d-flex w-100">
                <h5 id="conversation-{{ conversation.id }}-name-label" class="mb-1">{{ conversation.name[:20] }}</h5>
            </div>
            <p class="mb-1" id="conversation-{{ conversation.id }}-last-message">
                {% if conversation.lastMessage %}
                    {% set message = conversation.lastMessage.message %}
                    {% if conversation.lastMessage.senderId == app.user.id %}
                        You:
                    {% else %}
                        {{ conversation.lastMessage.senderId | UserName }}:
                    {% endif %}
                    {{ message[:20] }}{% if message | length > 20 %}(...){% endif %}
                {% else %}
                    No messages yet
                {% endif %}
            </p>
        </a>
        {% if loop.index != loop.last %}
            <hr class="hr w-100"/>
        {% endif %}
    {% endfor %}
{% else %}
    No conversations found
{% endif %}