{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('chat') }}
{% endblock %}

{% block body %}

<div class="container container-body container-shadow m-auto mt-5 p-5 bg-dark">
    <h2 class="fw-bold mb-2 text-light">Conversations</h2>
    <p class="text-white-50 mb-4">Choose a friend to talk</p>
    <div class="row mx-2 mb-2" {{ stimulus_controller('conversation', {
        url:  path('app_home'),
        url1: path('app_chat_group_form')
    }) }}>
        <div class="col-xl-4 col-lg-5 col-sm-12 bg-light rounded">
            <div class="list-group-scroll mt-2 ps-2 pe-4 py-2">
                {% for conversation in conversations %}
                    <a type="button" href="{{ path('app_chat_group', {conversationId: conversation.id}) }}"
                        class="list-group-item text-start w-100 rounded btn-friend-msg-list ps-3 py-2"
                        value="{{ conversation.id }}">
                        <div class="d-flex w-100">
                            <h5 class="mb-1"><small class="fs-6">name: <br> </small>{{ conversation.name }}</h5>
                        </div>
                        <p class="mb-1">you: last message {# last message #}</p>
                    </a>
                    {# {% if loop.index != loop.last %} #}
                        <hr class="hr w-100"/>
                    {# {% endif %} #}
                {% endfor %}
                <button type="button" class="btn btn-lg btn-dark w-100" data-action="conversation#createGroup">Create Chat Group</button>
            </div>
        </div>
        <div data-conversation-target="result" class="card col-xl-8 col-lg-7 col-sm-12 bg-light rounded messenger-window">
            {% if conversations | length == 0 %}
                <h5 class="mb-1">No Groups</h5>
            {% else %}
                {# TODO messenger #}
                {{ include('chat_groups/_conversation.html.twig') }}
            {% endif %}
        </div>
    </div>
</div>
{% if conversation is defined %}
    <script type="application/json" id="message-url">
        {{ path('handle_group_message_app', {conversationId: conversation.id}) }}
    </script>
    <script type="application/json" id="mercure-url">
        {{ mercure('conversation.group' ~ conversation.id, { subscribe: 'conversation.group' ~ conversation.id })|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw  }}
    </script>
{% endif %}
{% endblock %}
