{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container container-body container-shadow m-auto mt-5 p-5 bg-dark">
    <h2 class="fw-bold mb-2 text-light">Conversations</h2>
    <p class="text-white-50 mb-4">Choose a friend to talk</p>
    <div class="row mx-2 mb-2" {{ stimulus_controller('conversation', {
        url:  path('app_home'),
        url1: path('app_chat_groups_form')
    }) }}>
        <div class="col-xl-4 col-lg-5 col-sm-12 bg-light rounded">
            <div class="list-group-scroll mt-2 ps-2 pe-4 py-2">
                {% for conversation in conversations %}
                    <button type="button"
                        data-action="conversation#hello"
                        class="list-group-item text-start w-100 rounded btn-friend-msg-list ps-3 py-2"
                        {# value="{{ friend.id }}" #}
                        >
                        <div class="d-flex w-100">
                            {# <h5 class="mb-1"><small class="fs-6">user name: </small>{{ friend.username }}</h5> #}
                        </div>
                        <p class="mb-1">you: last message {# last message #}</p>
                        {# {% if friend.status == 0 %} #}
                            <small>active now</small>
                        {# {% else %} #}
                            {# <small>last seen: {{ friend.lastSeen | ago }}</small> #}
                        {# {% endif %} #}
                    </button>
                    {# {% if loop.index != loop.last %} #}
                        <hr class="hr w-100"/>
                    {# {% endif %} #}
                {% endfor %}
                <button class="btn btn-lg btn-dark w-100" data-action="conversation#createGroup">Create Chat Group</button>
            </div>
        </div>
        <div data-conversation-target="result" class="d-flex col-xl-8 col-lg-7 col-sm-12 rounded messenger-window">
            {% if conversations | length == 0 %}
                {% include "chat_groups/_createGroupConversationForm.html.twig" %}
            {% endif %}
            {# TODO messenger #}
            {# {{ include('chat_groups/_conversation.html.twig') }} #}
        </div>
    </div>
</div>

{% endblock %}
