<div class="modal fade rounded-5" id="change-password-email-form-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content" >
            {{ form_start(form) }}
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Set new password</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_widget(form.new_password, {'attr': {
                    'placeholder': 'new password'
                }}) }}
                {{ form_widget(form.confirm_password, {'attr': {
                    'placeholder': 'confirm password'
                }}) }}
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">{{ form_widget(form.update_password) }}</div>
                    <div class="col-6"><button type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal">Close</button></div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>


