{% set unseenReceivedNotifications = app.user|unseenReceivedNotifications | length %}
    <a class="p-1 my-1 user-dropdown-menu px-3 dropdown-toggle rounded-3 text-decoration-none d-flex align-items-center text-light nav-hover-dropdown"
    id="userDropDownMenu"
    href="#"
    aria-expand="false"
    data-bs-toggle="dropdown"
    data-bs-auto-close="false"
    aria-expanded="false">
        <i class="bi bi-person-lines-fill bi-user-icon me-2"></i>
        <span>
            {{ app.user.username }}
            {% if unseenReceivedNotifications != 0 %}
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger my-1 px-3">
                    {{ unseenReceivedNotifications }}
                    <i class="bi bi-arrow-return-left position-absolute top-100 start-25 text-danger fs-6"></i>
                </span>
            {% endif %}
        </span>
    </a>
    <ul class="dropdown-menu dropdown-menu-end dropstart bg-light" aria-labelledby="userDropDownMenu">
        <li>
            <a id="toogle-notifications-modal" class="dropdown-item" href="#" role="button" data-bs-toggle="modal" data-bs-target="#notifications-modal">
                notifications
                <span class="badge rounded-pill
                {% if unseenReceivedNotifications > 0 %}
                    bg-danger
                {% else %}
                    bg-primary
                {% endif %}
                px-3 py-2 ms-3">
                    {{ unseenReceivedNotifications }}
                </span>
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="{{ path(getRouteName('APP_FRIENDS_REQUESTS')) }}">
                friend requests
            </a>
        </li>
        <li>
            <div class="dropdown">
                <a class="btn-secondary dropdown-toggle dropdown-item"
                href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                    settings
                </a>
                <ul class="dropdown-menu dropdown-menu-end dropstart bg-light">
                    <li>
                        <a id="toogle-change-password-modal"
                        class="dropdown-item disabled" role="button"
                        data-action="settings#handlePasswordChange">
                            Change Password
                        </a>
                    </li>
                    <li>
                        <a id="toogle-change-username-modal"
                        class="dropdown-item" role="button"
                        data-action="settings#handleUsernameChange">
                            Change Username
                        </a>
                    </li>
                    <li>
                        <a id="toogle-change-email-modal"
                        class="dropdown-item" role="button"
                        data-action="settings#handleEmailChange">
                            Change Email
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a id="toogle-delete-account-modal"
                        class="dropdown-item disabled" role="button"
                        data-action="settings#handleAccountDelete">
                            DELETE ACCOUNT
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
            <form action="{{ path(getRouteName('APP_LOGOUT')) }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
                <button class="dropdown-item" href="#">log out</button>
            </form>
        </li>
    </ul>