{% extends 'base.html.twig' %}

{% block title %}Check your friend requests!{% endblock %}

{% block body %}
    <div class="container container-body container-shadow m-auto mt-5 bg-dark p-5 ">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <h2 class="fw-bold mb-2 text-light">Received Requests</h2>
                <p class="text-white-50 mb-4">You have {{ received | length }} pending request(s)</p>
                <div class="rounded-3">
                    <ul class="list-group mb-5">
                        {% for request in received %}
                            <li class="list-group-item bg-light">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-12 col-md-6 col-xs-12">
                                        <div class="col">
                                            <p>From: {{ request.requestingUser.username }}</p>
                                        </div>
                                        <div class="col">
                                            <p>Status: <small class="fw-bold">{{ request.status | StatusEnum | upper}}</small></p>
                                        </div>
                                        <div class="col">
                                            <p><small>Received: {{ request.createdat | ago}}</small></p>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-12 col-md-6 col-xs-12 my-auto">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 my-auto">
                                                <form action="{{ path(GetRouteName('APP_ACCEPT_FRIEND_REQUEST')) }}" method="post">
                                                    <button name="accepted" value="{{ request.id }}" type="submit" class="btn btn-dark w-100">Accept</button>
                                                </form>
                                            </div>
                                            <div class="col-lg-12 col-md-12 my-2">
                                                <form action="{{ path(GetRouteName('APP_DECLINE_FRIEND_REQUEST')) }}" method="post">
                                                    <button name="rejected" value="{{ request.id }}" type="submit" class="btn btn-dark w-100">Decline</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <h2 class="fw-bold mb-2 text-light">Sent Requests</h2>
                <p class="text-white-50 mb-4">You've sent {{ sent | length }} request(s)</p>
                <div class="rounded-3">
                    <ul class="list-group">
                        {% for request in sent %}
                            <li class="list-group-item bg-light">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-12 col-md-6 col-xs-12">
                                        <div class="col">
                                            <p>User: {{ request.requestedUser.username }}</p>
                                        </div>
                                        <div class="col">
                                            <p>Status: <small class="fw-bold">{{ request.status | StatusEnum | upper }}</small></p>
                                        </div>
                                        <div class="col">
                                            <p><small>Sent: {{ request.createdat | ago}}</small></p>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-12 col-md-6 col-xs-12 my-auto">
                                        <form action="{{ path(GetRouteName('APP_CANCEL_FRIEND_REQUEST')) }}" method="post">
                                            <button name="cancelled" value="{{ request.id }}" type="submit" class="btn btn-dark w-100">Cancel</button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
