{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('chat') }}
{% endblock %}

{% block body %}
<div class="container container-body container-shadow m-auto mt-5 p-5 bg-dark ">
    <h2 class="fw-bold mb-2 text-light">Conversations</h2>
    <p class="text-white-50 mb-4">Choose a friend to talk</p>
    <div class="row mx-2 mb-2"{{ stimulus_controller('conversation', {
        url: path('app_chat_search')
    }) }}>
        <div class="col-xl-4 col-lg-5 col-sm-12 bg-light rounded card messenger-window">
            {% set activeConversationId = conversation.id %}
            <div class="card-header py-3">
                {% include "chat_components/_searchConversationForm.html.twig" %}
            </div>
            <div id="conversations-list" data-conversation-target="conversationsList" class="card-body list-group-scroll mt-2 ps-3 pe-4 py-2">
                {% if conversations %}
                    {% include 'chat/_searchConversationResults.html.twig' %}
                {% else %}
                    You have no friends... :---/////
                {% endif %}
            </div>
        </div>
        <div class="card col-xl-8 col-lg-7 col-sm-12 bg-light rounded messenger-window">
            {% if conversations %}
                {{ include('chat/_conversation.html.twig') }}
            {% endif %}
        </div>
    </div>
</div>
{% if conversation is defined %}
    {% set conversationTopic = 'conversation.priv' ~ conversation.id %}
    {% set previewTopic      = (conversation | GetConversationTopics) %}
    {% set topics            = topics|Push(conversationTopic) %}
    {% set topics            = topics|Push(previewTopic) %}

    <script type="application/json" id="message-url">
        {{ path('handle_message_app') }}
    </script>
    <script type="application/json" id="message-preview-url">
        {{ path('app_chat_message_preview') }}
    </script>
    <script type="application/json" id="mercure-url">
        {{ mercure(conversationTopic)|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw  }}
    </script>
    <script type="application/json" id="mercure-message-preview-url">
        {{ mercure(previewTopic, { subscribe: topics })|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw  }}
    </script>
{% endif %}
{% endblock %}

{# https://symfony.com/bundles/ux-turbo/current/index.html#chat-example #}