<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('/favicon-16x16.png') }}">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <div class="container-shadow">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand fw-bold fs-1" href="{{ path('app_home') }}">PrivatePublicTexting</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="#">Chats</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="#">Group Chats</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="#">Friends</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="{{ path('app_search') }}">Search Friends</a>
                        </li>
                        <li class="nav-item mx-2 my-2">
                            <div class="dropdown user-dropdown-menu">
                                <a href="#" class="text-decoration-none d-flex align-items-center text-light" id="userDropDownMenu" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="icon">
                                        <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd" />
                                    </svg>
                                    <span>{{ app.user.username }}</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end dropstart" aria-labelledby="userDropDownMenu">
                                    <li>
                                        <a class="dropdown-item" href="#">Notifications</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Friends Requests</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Settings</a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <form action="{{ path('app_logout') }}" method="post">
                                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
                                            <button class="dropdown-item" href="#">Log Out</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
        {% include '_flashes.html.twig' %}
        {% block body %}{% endblock %}
    </body>
</html>

