<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('/favicon-16x16.png') }}">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <div class="container-shadow bg-dark">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark">

                <a class="navbar-brand fw-bold fs-1" href="{{ path('app_home') }}">
                    <span>P</span><small class="fs-6 fw-lighter">(rivate)</small><span>P</span><small class="fs-6 fw-lighter">(ublic)</small><span>T</span><small class="fs-6 fw-lighter">(exting)</small>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto me-2">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_home') }}">chats</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_chat_groups') }}">group chats</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_friends_list') }}">friends</a>
                        </li>
                        <li class="nav-item me-2">
                            <a class="nav-link" href="{{ path('app_search_users') }}">search friends</a>
                        </li>
                        <li class="nav-item my-auto">
                            <div class="dropdown user-dropdown-menu">
                                <a href="#" class="text-decoration-none d-flex align-items-center text-light" id="userDropDownMenu" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="bi bi-person-lines-fill bi-user-icon me-2"></i>
                                    <span>{{ app.user.username }}</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end dropstart" aria-labelledby="userDropDownMenu">
                                    <li>
                                        <a class="dropdown-item" href="#">notifications</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('app_friends_requests') }}">friend requests</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">settings</a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <form action="{{ path('app_logout') }}" method="post">
                                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
                                            <button class="dropdown-item" href="#">log out</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
        {% include '_flashes.html.twig' %}
        {% block body %}{% endblock %}
    </body>
    <footer class="mt-5 container-shadow">
    </footer>
</html>

