{% extends 'auth/base.html.twig' %}

{% block title %}Login and enjoy chatting with friends!{% endblock %}

{% block body %}
    <div class="container container-center text-uppercase">
        <div class="card bg-dark login-card">
            <div class="card-body p-5">
                <div class="mb-md-5 mt-md-4">
                    <h2 class="fw-bold mb-2 text-light text-uppercase">LOGIN</h2>
                    <p class="text-white-50 mb-4">PLEASE ENTER YOUR EMAIL AND PASSWORD!</p>

                    {{ form_start(loginForm) }}
                    <div class="form-outline form-white mb-2">
                        {{ form_widget(loginForm.email) }}
                        {{ form_label(loginForm.email) }}
                    </div>

                    <div class="form-outline form-white mb-4">
                        {{ form_widget(loginForm.password) }}
                        {{ form_label(loginForm.password) }}
                    </div>

                    {{ form_row(loginForm.submit) }}
                    {{ form_end(loginForm) }}
                </div>
                <div>
                    <p class="mb-0 text-light text-uppercase">Don't have an account? 
                        <a href="{{ path(getRouteName('APP_REGISTER')) }}" class="text-white-50 fw-bold">Sign Up</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
