{% extends 'auth/base.html.twig' %}

{% block title %}Hello AuthController!{% endblock %}

{% block body %}
    <div class="container card-container">
        <div class="card bg-dark login-card">
            <div class="card-body p-5">
                <div class="mb-md-5 mt-md-4 pb-2">
                    <h2 class="fw-bold mb-2 text-light text-uppercase">Register</h2>
                    <p class="text-white-50 mb-4">Please enter your credentials!</p>

                    {{ form_start(registerForm) }}
                    <div class="form-outline form-white mb-2">
                        {{ form_widget(registerForm.name) }}
                        {{ form_label(registerForm.name) }}
                    </div>

                    <div class="form-outline form-white mb-2">
                        {{ form_widget(registerForm.user_name) }}
                        {{ form_label(registerForm.user_name)}}
                    </div>

                    <div class="form-outline form-white mb-2">
                        {{ form_widget(registerForm.email) }}
                        {{ form_label(registerForm.email) }}
                    </div>

                    <div class="form-outline form-white mb-2">
                        {{ form_widget(registerForm.password) }}
                        {{ form_label(registerForm.password) }}
                    </div>

                    <div class="form-outline form-white mb-4">
                        {{ form_widget(registerForm.confirm_password) }}
                        {{ form_label(registerForm.confirm_password) }}
                    </div>

                    {{ form_row(registerForm.submit) }}
                    {{ form_end(registerForm) }}
                </div>
                <div>
                    <p class="mb-0 text-light">Already have an account? 
                        <a href="{{ path('app_login') }}" class="text-white-50 fw-bold">Log In</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}