{% extends 'base.html.twig' %}

{# {% block javascripts %}
    {{ encore_entry_script_tags('chatController') }}
{% endblock %} #}

{% if conversation is defined %}
    {% set conversationTopic = getConstant('CONVERSATION_GROUP')|format(conversation.id) %}
    {% set previewTopics     = (conversation|getConversationTopics) %}
    {% set topics            = [] %}
    {% set topics            = topics|push(conversationTopic) %}
    {% set topics            = topics|push(previewTopics) %}
{% endif %}

{% block title %}
    {% if conversation is defined and conversation is not null %}
        {{ conversation.name }} group conversation
    {% else %}
        You aren't participating in group conversation yet
    {% endif %}
{% endblock %}

{% block body %}
<div class="container container-body container-shadow m-auto mt-5 p-5 bg-dark">
    <h2 class="fw-bold mb-2 text-light">Group Conversations</h2>
    <p class="text-white-50 mb-4">Choose a group to talk</p>
    <div class="row mx-2 mb-2" {{ stimulus_controller('conversation', {
        url:  path(getRouteName('APP_CHAT_SEARCH')),
        url1: path(getRouteName('APP_CHAT_PROCESS_EVENT_SOURCE_TAG'))
    }) }}>
        <div class="col-xl-4 col-lg-5 col-sm-12 bg-light rounded card messenger-window">
            {% set activeConversationId = null %}
            {% if conversation is defined %}
                {% set activeConversationId = conversation.id %}
            {% endif %}
            <div class="card-header py-3">
                {% include 'chat/chat_components/_searchConversationForm.html.twig' %}
            </div>
            <div name="group-conversations-list" id="conversations-list" data-conversation-target="conversationsList" class="card-body list-group-scroll mt-2 ps-3 pe-4 py-2">
                {% if conversations %}
                    {% include 'chat/chat_groups/_searchConversationResults.html.twig' %}
                {% else %}
                    You have no chat groups yet...
                {% endif %}
            </div>
            <div class="card-footer py-3">
                <a type="button" class="btn btn-lg btn-dark w-100" href="{{ path(getRouteName('APP_CHAT_GROUP_CREATE')) }}">
                    Create Chat Group
                </a>
            </div>
            <div data-conversation-target="result"></div>
        </div>
        <div class="card col-xl-8 col-lg-7 col-sm-12 bg-light rounded messenger-window">
            {% if conversations | length == 0 %}
                <h5 class="mb-1">No Groups</h5>
            {% elseif createGroupForm is defined %}
                {% include 'chat/chat_groups/_createGroupConversationForm.html.twig' %}
            {% else %}
                {% include 'chat/chat_groups/_conversation.html.twig'  %}
                {% include 'chat/chat_groups/_participantsListModal.html.twig' %}
                {% include 'chat/chat_groups/_conversationNameFormModal.html.twig' %}
                {% include 'chat/chat_groups/_conversationNewMembersModal.html.twig' %}
            {% endif %}
        </div>
    </div>
</div>
{% if conversation is defined %}
    <script type="application/json" id="mercure-url">
        {{ mercure(conversationTopic)|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw  }}
    </script>
    {% if previewTopics|length > 0 %}
        <script type="application/json" id="mercure-message-preview-url">
            {{ mercure(previewTopics)|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw }}
        </script>
    {% endif %}
{% endif %}
{% endblock %}
