<div class="row">
    {% if pager.hasNextPage %}
        <turbo-frame id="mix-message-list-{{ pager.nextPage }}" src="{{ pagerfanta_page_url(pager, pager.nextPage) }}" loading="lazy"></turbo-frame>
    {% endif %}
    {% for message in pager | reverse %}
        {% if message.senderId == currentUserId %}
            <div class="col-6"></div>
            <div class="col-6">
                <div class="border rounded-4 mb-2 bg-primary text-light p-3">
                    {% if message.attachment == true %}
                        {% include 'chat_components/_attachment.html.twig' %}
                    {% endif %}
                    <p class="text-start mx-2 message">{{ message.message }}</p>
                    <small class="text-start mx-2">{{ message.createdAt | date('d M, Y H:i') }}</small>
                </div>
            </div>
        {% else %}
            <div class="col-6">
                {% if prevMsg is defined %}
                    {% if prevMsg.senderId != message.senderId %}
                        <small class="text-start mx-2">{{ message.senderId | UserName }}:</small>
                    {% endif %}
                {% else %}
                    <small class="text-start mx-2">{{ message.senderId | UserName }}:</small>
                {% endif %}
                <div class="border rounded-4 mb-2 bg-secondary p-3">
                    {% if message.attachment == true %}
                        {% include 'chat_components/_attachment.html.twig' %}
                    {% endif %}
                    <p class="text-start mx-2 message">{{ message.message }}</p>
                    <small class="text-start mx-2">{{ message.createdAt | date('d M, Y H:i') }}</small>
                </div>
            </div>
            <div class="col-6"></div>
        {% endif %}
        {% set prevMsg = message %}
    {% endfor %}
</div>