<div class="row">
    {% if message.senderId == app.user.id %}
        <div class="col-6"></div>
        <div class="col-6">
            <div class="border rounded-4 mb-2 bg-primary text-light p-3">
                {% if message.attachment == true %}
                    {% include 'chat_components/_attachment.html.twig' %}
                {% endif %}
                <p class="text-start mx-2">{{ message.message }}</p>
                <small class="text-start mx-2">{{ 'now'|date('d M, Y H:i') }}</small>
            </div>
        </div>
    {% else %}
        <div class="col-6">
            <small class="text-start mx-2">{{ message.senderId | UserName }}:</small>
            <div class="border rounded-4 mb-2 bg-secondary p-3">
                {% if message.attachment == true %}
                    {% include 'chat_components/_attachment.html.twig' %}
                {% endif %}
                <p class="text-start mx-2">{{ message.message }}</p>
                <small class="text-start mx-2">{{ 'now'|date('d M, Y H:i') }}</small>
            </div>
        </div>
        <div class="col-6"></div>
    {% endif %}
</div>